{% extends "layout.html" %}

{% block title %}
Inicio
{% endblock %}

{% block main %}

<section class="index-section mb-5">
  <div class="index-container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col">
        <h2 class="display-1 text-center fw-bold mb-4">Esturión Party's</h2>
        <p class="lead text-center mb-5 d-flex justify-content-sm-center">
          <span class="col">Servicio de catering para todo tipo de eventos</span>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/services" class="btn btn-primary">Conoce nuestros servicios</a>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>

{% endblock %}
