{% extends "layout.html" %}

{% block title %}
Gestión
{% endblock %}

{% block main %}

<h3>Gestión de usuarios</h3>
<p>Registro y gestión de usuarios</p>

<div class="card mt-4 mx-auto" style="width: 80%;">
    <div class="card-body shadow-lg p-3 bg-body rounded overflow-auto">
        <table class="table mb-4" id="usuarios">
            <thead>
                <tr>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Fecha de alta</th>
                    <th scope="col">Última actualización</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <th scope="col">{{ row.username }}</th>
                    <td scope="col">{{ row.phone }}</td>
                    <td scope="col">{{ row.rol }}</td>
                    <td scope="col">{{ row.startDate }}</td>
                    <td scope="col">{{ row.lastModifiedDate }}</td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- +Info -->
        <small class="text-muted">Por restablecimiento consulte a Sistemas.</small>
    </div>
</div>

<div class="card mt-4 mx-auto" style="width: 80%;">
    <div class="card-body shadow-lg p-3 bg-body rounded">
        <h5 class="mb-4 text-center">Registrar nuevo usuario</h5>
        <form class="text-start align-items-start" action="/management" method="post" id="register">
            <div class="form-group mb-2">
                <label for="name">Nombre de usuario</label>
                <input type="text" class="form-control" id="name" name="name"
                    placeholder="Proporcione un nombre de usuario" required>
            </div>
            <div class="form-group mb-2">
                <label for="phone">Celular</label>
                <input type="text" class="form-control" id="phone" name="phone"
                    placeholder="Proporcione un numero de celular" required>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Registrar</button>
            <button type="reset" class="btn btn-danger mt-2">Cancelar</button>
        </form>
    </div>
</div>

{% endblock %}
